[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "ranger"]
	path = ranger
	url = https://github.com/ranger/ranger.git
