Session.vim
kiro-conf/.cli_bash_history
kiro-conf/english-tutor
node_modules
ssh-aliases
tmux-conf/.tmux
zsh-conf/.antidote
zsh-conf/.zcompcache
zsh-conf/.zcompdump
zsh-conf/.zsh_history
zsh-conf/zshenvsecret
