[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "ranger"]
  path = ranger
  url = git@github.com:ranger/ranger.git
[submodule "ranger.vim"]
	path = ranger.vim
	url = https://github.com/francoiscabrol/ranger.vim.git
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "vimpager"]
	path = vimpager
	url = https://github.com/rkitover/vimpager.git
